* {
    font-family: Arial, Helvetica, sans-serif;
}

.rightbar {
    float: right;
    width: 400px;
}


.recommended_header {
    width: 100%;
    display: flex;
}

.up_next {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #444444;
    margin: 3px;
}

.auto_play {
    margin-right: 0px;
    margin-left: auto;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #666666;
    align-items: center;
    justify-content: center;

}
.auto_play img {
    width: 16px;
    height: 16px;
    margin: -1px 4px 0px 4px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.recommended_item {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.recommended_img {
    margin: 0px;
}

.recommended_info {
    margin-left: 5px;
    width: 250px;
}

.recommended_title {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.2rem;
    display: block;
    color: #333333;
}

.recommended_publisher {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1.2rem;
    display: block;
    color: #888888;
}

.recommended_views {
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.2rem;
    display: block;
    color: #888888;
}

.show_more {
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 1.2rem;
    display: block;
    color: #888888;
    border-top: 1px solid #AAAAAA;
    padding: 5px;
}

.footer {
    clear: both;
}

.footer_one li {
    display: inline;
}

.footer_one li img {
    width: 100px;
}

.footer_one li select {
    min-width: 150px;
    min-height: 25px;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    color: #515151;
    margin: 3px;
}

.footer_two li {
    display: inline;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2rem;
    color: #444444;
    margin: 3px;
}

.footer_three li {
    display: inline;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #666666;
    margin: 3px;
}
